/*selector universal*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 

}

img {
    width: 100px;
}

header {
    background: linear-gradient(90deg, #4a7db4, white
    );
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 0 0 15px 40px;
    /* ejes: inicia esq superior izquierda en sentido horario*/
    box-shadow: 24px 15px 7px 5px rgba(140,115,115,0.5);
-webkit-box-shadow: 24px 15px 7px 5px rgba(140,115,115,0.5);
-moz-box-shadow: 24px 15px 7px 5px rgba(140,115,115,0.5);
    }

.logo {
    width: 200px;
}
nav ul {
    list-style: none;}

nav li {
    margin-bottom: 5px;
    
}

nav ul li {display:inline;}

nav ul li a {
    text-decoration: none;
    padding: 10px;
    background-color: lightblue, 0;
    border-radius: 12px;
    color: white;
        }

    nav ul li a:hover {
        background-color: rgba(255, 0, 0, 0.498) 
    } 
    
    /* selector por especificidad */

    section {
        background-color: rgb(252, 251, 251);
        /** margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;**/
        /*1 dato: eje vertical*/
        /*2 dato: eje horizontal*/
        margin: 20px auto;
        max-width: 70%;
        border-radius: 20px;
        padding: 30px;
        box-shadow: 7px 12px 16 px -9px rgba(0, 0, 0, 0.194);
    }

    #inicio {
       background-color: rgb(229, 245, 246); 
       /*bordr: ancho, tipo de borde, color*/
       border: 2px, inset, grey;
       text-align: center;
    }
    #inicio img {
        width: 35%;
        margin-top: 10px;
    }

    #contacto form { 
        background-color: rgb(229, 241, 225);
        padding: 20px;
        border-radius: 10px;
        margin-top: 10px;
        border: 1px solid rgb(218, 215, 215);
    }

    form label {
        font-weight: 600;
        font-size: 15px;
        color: #4a7db4;
        display: block;
    }
    form input,
    form textarea {
        display: block;
        width: 100%;
        margin: 10px;
        width: 70%;
        padding: 10px;
        border-radius: 12px;
        border: 1px;
        font-size: 16px;
    }

    form input: :focus
    {

    }

    button {
        cursor pointer;

    }

footer {
    text-align: center;
    margin: 40px;
}

#quienes-somos {
    text-align: center;
}