
/* propiedades esenciales */
/* colores */
/* tipografias */
/* fondos */
/* bordes */
/* espacios */

p {
    color: #db3b3b;
}

p{
    color: rgb(10, green50, blue20
    );

    font-family: montserrat;
    font-weight: 900;
    padding: 500px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Escudo_del_Club_Atl%C3%A9tico_San_Lorenzo_de_Almagro.svg/960px-Escudo_del_Club_Atl%C3%A9tico_San_Lorenzo_de_Almagro.svg.png)
    ;
    background-size: cover;
   
}

/*colores: hexadecimal,rgb, nombre por defecto*/
/* 0-9 a-f */

